.booking-details-container {
    max-width: 500px;
    max-height: 1080px;
    margin: 40px auto;
    padding: 20px;
    background-color: #000000;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .booking-details-title {
    margin-top: 0;
    font-weight: bold;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #666;
  }
  
  .form-input {
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
  }
  
  .slot-title {
    margin-top: 20px;
    font-weight: bold;
    color: #333;
  }
  
  .slot-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .slot-button {
    width: 45%;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-golden);
    color: #fff;
    cursor: pointer;
  }
  
  .slot-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .slot-button:hover {
    background-color: #3e8e41;
  }
  
  .proceed-button {
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
  }
  
  .proceed-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .proceed-button:hover {
    background-color: #3e8e41;
  }